<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="page" itemscope itemtype="http://schema.org/WebPage">
{% if site.okfn_ribbon %}
<div class="fixed-okf-panel">
  <div id="okf-panel" class="collapse">
    <iframe src="http://assets.okfn.org/themes/okfn/okf-panel.html" scrolling="no"></iframe>
  </div>
  <div class="okfn-ribbon">
    <a href="http://okfn.org/" data-toggle="collapse" data-target="#okf-panel" title="Part of the Open Knowledge Foundation Network">An Open Knowledge Foundation Local Initiative</a>
  </div>
</div>
{% endif %}
{% include navigation.html %}

<div id="main" role="main" itemprop="mainContentOfPage">
  <article class="entry" itemscope>
    {% if page.image.feature %}<img src="{{ site.url }}/images/{{ page.image.feature }}" class="entry-feature-image" alt="{{ page.title }}" itemprop="image">{% if page.image.credit %}<p class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a>{% endif %}{% endif %}
    <div class="entry-wrapper">
      <header class="entry-header">
        <!-- <h1 class="entry-title" itemprop="name">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}</h1>{% endif %} --></header>

        <p>The OpenDataHK is an open, participative, volunteer-run group of Hong Kong citizens who support Open Data, founded in March 2013. Anyone is welcome to join, take part and lead.</p>
        <p>We are engaged citizens. Members are people who value government transparency. Some of us are analysts who study data, others are researchers of public trends, programmers who work with data visualisation, people developing data-driven apps, public servants who want to open governemnt data to the public, to name just a few.</p>
        
        <h3>What we do:</h3>
        <ul>
          <li>Raise awareness and share knowledge about Open Data and its benefits;</li>
          <li>Facilitate collaborations among Open Data suporters;</li>
          <li>Advocate for increased availability and quality of Open Data.</li>
        </ul>
        <h3>We do this by:</h3>
        <ul>
          <li>Collecting and providing resources about Hong Kong Open Data;</li>
          <li>Organising events for the community to connect, collaborate, share, and understand;</li>
          <li>Liaising with the Hong Kong government and other sectors to facilitate the release and improved quality of Open Data.</li>
        </ul> 
        <h3>Upcoming events:</h3>
      <div class="entry-content" itemprop="description">
        {{ content }}
      </div><!-- /.entry-content -->
        <h3>Mailing List:</h3>
        <!-- Begin MailChimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
          <style type="text/css">
            #mc_embed_signup{font:14px;}
            #mc_embed_signup form {padding-left: 0;}
            #mc_embed_signup .mc-field-group {width: 100%;}
            input {float:right; margin-top: 12px;}
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
          </style>
            <div id="mc_embed_signup" class="entry-content">
              <form action="http://opendatahk.us5.list-manage.com/subscribe/post?u=a0e9926f917f4013e5558f672&amp;id=84ad0042be" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address</label>
                <input type="email" value="" name="EMAIL" placeholder="Email Address" class="required email" id="mce-EMAIL">
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </form>
          </div>
          
          <!--End mc_embed_signup-->
    </div><!-- /.entry-wrapper -->
  </article>
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}          

</body>
</html>